.best {
  background-image: url('../img/bg/best-bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  &__title {
    @extend .hero__title;
    color: $dark;
    margin-top: 2%;
  }

  &__cards {
    width: 100%;
    margin-top: 5%;
  }

  &__list {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;

  }

  &__item {
    text-align: center;
    max-width: rem(299px);
    &-title {
      display: block;
      font-size: rem(24px);
      font-family: Lifehack;
      margin-top: rem(22px);
    }
    &-desc {
      font-size: rem(14px);
      line-height: 1.9;
    }
  }
}
