.reviews {
  position: relative;
  height: 100vh;

  &__list {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &__item {
    width: 25%;
    height: 50%;
    background: url('../img/content/guest-1.png') no-repeat;
    background-position: center center;
    background-size: cover;
    padding: rem(48px) rem(17px);
    color: #fff;
    font-size: rem(14px);
    @include tablets {
      width: 50%;
      height: 25%;
      text-align: center;
      padding: rem(10px) rem(10px);

    }


    &:hover .reviews__content {
      opacity: 1;
    }
  }

  &__content {
    opacity: 0;
    transition: 0.7s;
    @include phones {
      display: none;
    }
  }

  &__name {
    font-family: Gagalin;
    font-weight: 500;

  }

  &__text {
    line-height: 1.3;
    @include tablets {
      line-height: 1.3;
      margin: rem(5px);
    }
  }
}

.btn--reviews {
  background-color: $dark;
  @include tablets {
    padding: rem(5px) rem(8px);
  }
  &:hover {
    background-color: lighten($dark, 7%);
  }
}

@each $nmb-guest in 1, 2, 3, 4, 5, 6, 7, 8 {
  .reviews__item--guest-#{$nmb-guest} {
    background-image: url('../img/content/guest-#{$nmb-guest}.png');
  }
}

.reviews__popup {
  display: none;
  width: 40%;
  min-height: rem(257px);
  border-radius: 5px;
  background-color: #fff;
  @include tablets {
    width: 80%;
  }
}
