.best {
  background-image: url('../img/bg/best-bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  &__title {
    @extend .hero__title;
    color: $dark;
  }

  &__cards {
    width: 100%;
    margin-top: 5%;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

  }

  &__item {
    text-align: center;
<<<<<<< HEAD
=======
    max-width: rem(299px);
>>>>>>> 285e3ce4f9b55ad689c1198caca1c9188abc33dc
    &-title {
      display: block;
      font-size: rem(24px);
      font-family: Lifehack;
    }
    &-desc {
      font-size: rem(14px);
      line-height: 1.9;
    }
  }
}
