.delivery {
  background: url('../img/bg/form-bg.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.title--delivery {
  text-align: center;
  margin: rem(20px) 0;
  @include phones {
    margin: rem(10px) 0;
  }
}

.form {
  color: #fff;
  font-size: rem(14px);
}
.form__row {
  display: flex;
  flex: 1;
  margin-bottom: rem(20px);
}

.form__wrap {
  display: flex;
  flex-direction: row;
  @include tablets {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

.form__left, .form__right {
  width: 50%;
  @include tablets {
    width: 100%;
    padding: 0 rem(100px);
  }
  @include phones {
    padding: 0;
  }
}

.form__right {
  margin-left: rem(15px);
  @include tablets {
    margin-left: 0;
  }
}

.form__block-title {
  padding-bottom: rem(5px);
}

.form__block {
  width: 100%;
  margin-right: rem(15px);
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
}

.form__textarea {
  border-radius: 3px;
  width: 100%;
  resize: none;
  height: rem(108px);
  outline: none;
}

.form__controls {
  margin-top: rem(10px);
  @include phones {
    margin: rem(10px) auto;
  }
}
.form__control {
  display: inline-block;
  margin-right: rem(15px);
}

.form__radio {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  &:checked +.form__block-radio:before {
    content: "";
    width: 7px;
    height: 7px;
    background-color: $orange;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form__radio-title {
  display: inline-block;
  vertical-align: middle;
}

.form__block-radio {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: rem(10px);
}

.form__check-block {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 2px;
  display: inline-block;
  margin-right: rem(10px);

}
.form__checkbox {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  &:checked+.form__check-block {
    background: #fff url('../img/content/checkmark.png') center center no-repeat;

  }
}

.form__row--center {
  @include phones {
    justify-content: center;
  }
}

.btn--reset {
  border: none;
  text-transform: initial;
  background-color: initial;
  padding: 0;
  outline: none;
  cursor: pointer;
  &:hover {
    padding: 0;
    background-color: initial;
  }
}

.btn--submit-delivery {
  border: none;
  text-transform: none;
  cursor: pointer;
}

.btn--delivery-show {
  display: inline-block;

}

.delivery__show-message {
  text-align: center;
  padding: rem(10px);
  width: 30%;
  min-height: rem(120px);
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px -1px 29px -2px rgba(#000, 0.5);
  display: none;
  z-index: 30;

  @include tablets {
    width: 40%;
  }
  @include phones {
    width: 60%;
  }

}

.delivery__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;

}
